 .u-section-1 {
  background-image: linear-gradient(#28d2d9, #666666);
}

.u-section-1 .u-sheet-1 {
  min-height: 24px;
} .u-section-2 {
  min-height: 771px;
  background-image: linear-gradient(#28d2d9, #808080);
}

.u-section-2 .u-shape-1 {
  height: 580px;
  background-image: linear-gradient(#28d2d9, #b13943);
  margin-top: 1px;
  margin-bottom: 0;
}

.u-section-2 .u-image-1 {
  height: 769px;
  margin-top: -580px;
  margin-bottom: 0;
}

.u-section-2 .u-layout-wrap-1 {
  width: 1140px;
  margin: -698px auto 1px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 443px;
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 24px 40px;
}

.u-section-2 .u-image-2 {
  width: 434px;
  height: 395px;
  margin: 0 auto 0 37px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 255px;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 698px;
}

.u-section-2 .u-container-layout-3 {
  padding: 0;
}

.u-section-2 .u-image-3 {
  object-position: 50% 100%;
  width: 540px;
  height: 540px;
  background-image: url("images/Screenshot_1.png");
  background-position: 50% 50%;
  filter: brightness(0.9);
  margin: 107px -8px 0 auto;
}

.u-section-2 .u-shape-2 {
  width: 114px;
  height: 114px;
  background-image: none;
  margin: -121px auto 0 97px;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 649px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 365px;
  }

  .u-section-2 .u-image-2 {
    width: 390px;
    height: 355px;
    margin-left: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 178px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 595px;
  }

  .u-section-2 .u-image-3 {
    height: 449px;
    width: 449px;
    margin-top: 62px;
    margin-right: 0;
  }

  .u-section-2 .u-shape-2 {
    margin-top: -85px;
    margin-left: 78px;
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 955px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 559px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 272px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 678px;
  }

  .u-section-2 .u-image-3 {
    height: 644px;
    width: 644px;
    margin-top: -76px;
    margin-right: auto;
  }

  .u-section-2 .u-shape-2 {
    margin-top: -98px;
    margin-left: 101px;
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 735px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 419px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 204px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 650px;
  }

  .u-section-2 .u-image-3 {
    height: 502px;
    width: 502px;
  }

  .u-section-2 .u-shape-2 {
    margin-top: -122px;
    margin-left: 64px;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 1040px;
  }

  .u-section-2 .u-image-1 {
    height: 1018px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 340px;
    margin-top: -947px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 410px;
  }

  .u-section-2 .u-image-2 {
    width: 320px;
    height: 291px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 138px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 419px;
  }

  .u-section-2 .u-image-3 {
    height: 264px;
    width: 264px;
    margin-top: -108px;
  }

  .u-section-2 .u-shape-2 {
    width: 80px;
    height: 80px;
    margin-top: -65px;
    margin-left: 38px;
  }
} .u-section-3 {
  background-image: linear-gradient(#28d2d9, white);
}

.u-section-3 .u-sheet-1 {
  min-height: 920px;
}

.u-section-3 .u-layout-wrap-1 {
  margin: 45px auto 45px 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 830px;
  background-image: none;
}

.u-section-3 .u-container-layout-1 {
  padding-bottom: 0;
}

.u-section-3 .u-image-1 {
  width: 567px;
  height: 567px;
  background-image: url("images/WhatsAppImage2022-08-31at5.39.31PM.jpeg");
  background-position: 50% 50%;
  margin: 0 32px 0 auto;
}

.u-section-3 .u-image-2 {
  width: 405px;
  height: 405px;
  background-image: url("images/228bb1c2-776d-404c-81f3-5470fc035dd8.jpg");
  background-position: 50% 50%;
  margin: -314px auto 0 -8px;
}

.u-section-3 .u-image-3 {
  width: 244px;
  height: 244px;
  background-image: url("images/WhatsAppImage2022-09-03at2.34.37PM.jpeg");
  background-position: 50% 50%;
  margin: -88px 190px 0 auto;
}

.u-section-3 .u-shape-1 {
  width: 114px;
  height: 114px;
  background-image: none;
  margin: -720px auto 0 20px;
}

.u-section-3 .u-shape-2 {
  width: 77px;
  height: 77px;
  margin: 392px 68px 0 auto;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 830px;
  background-image: linear-gradient(white, #28d2d9);
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  font-size: 3.75rem;
  text-transform: none;
  margin: 99px 0 0;
}

.u-section-3 .u-text-2 {
  font-weight: 700;
  margin: 33px 0 0;
}

.u-section-3 .u-text-3 {
  font-style: italic;
  line-height: 25.6px;
  margin: 20px 0 0;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  border-style: none;
  font-size: 1.125rem;
  text-transform: uppercase;
  font-weight: 700;
  margin: 20px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 863px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 28px;
    margin-bottom: 28px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 774px;
  }

  .u-section-3 .u-image-1 {
    margin-right: 14px;
  }

  .u-section-3 .u-image-2 {
    width: 303px;
    height: 303px;
    margin-top: -212px;
  }

  .u-section-3 .u-image-3 {
    width: 201px;
    height: 201px;
    margin-top: -98px;
    margin-right: 180px;
  }

  .u-section-3 .u-shape-1 {
    width: 102px;
    height: 102px;
    margin-top: -701px;
    margin-left: 0;
  }

  .u-section-3 .u-shape-2 {
    margin-top: 478px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 774px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 0;
  }

  .u-section-3 .u-text-1 {
    font-size: 3rem;
    margin-top: 45px;
  }

  .u-section-3 .u-text-3 {
    line-height: 1.8;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 946px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 45px;
    margin-bottom: -4px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 856px;
  }

  .u-section-3 .u-image-1 {
    width: 422px;
    height: 422px;
    margin-top: 144px;
    margin-right: 0;
  }

  .u-section-3 .u-image-2 {
    width: 273px;
    height: 273px;
    margin-top: -173px;
  }

  .u-section-3 .u-image-3 {
    margin-top: -55px;
    margin-right: 58px;
  }

  .u-section-3 .u-shape-1 {
    width: 76px;
    height: 76px;
    margin-top: -776px;
    margin-left: 9px;
  }

  .u-section-3 .u-shape-2 {
    margin-top: 405px;
    margin-right: 23px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 856px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-right: 0;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 87px;
    margin-right: -169px;
    margin-left: 9px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 45px;
    margin-left: 30px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 30px;
  }

  .u-section-3 .u-btn-1 {
    margin-left: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1427px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-bottom: 45px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 774px;
    order: 1;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 0;
  }

  .u-section-3 .u-image-1 {
    margin-top: 36px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 520px;
    order: 0;
  }

  .u-section-3 .u-container-layout-2 {
    padding-right: 160px;
    padding-bottom: 50px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 683px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 771px;
  }

  .u-section-3 .u-image-1 {
    width: 340px;
    height: 340px;
  }

  .u-section-3 .u-image-2 {
    margin-top: -91px;
    margin-left: 0;
  }

  .u-section-3 .u-image-3 {
    margin-top: -11px;
    margin-right: 23px;
  }

  .u-section-3 .u-shape-1 {
    margin-top: -722px;
    margin-right: 36px;
    margin-left: auto;
  }

  .u-section-3 .u-shape-2 {
    margin-top: 339px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 532px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-right: 10px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
  }

  .u-section-3 .u-text-3 {
    margin-left: 0;
  }

  .u-section-3 .u-btn-1 {
    margin-left: 0;
  }
} .u-section-4 {
  background-image: url("images/wallpaperbetter.com_1280x10243.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-sheet-1 {
  min-height: 123px;
}

.u-section-4 .u-text-1 {
  text-shadow: -8px -8px 15px rgba(26,26,26,1);
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  text-transform: uppercase;
  background-image: none;
  margin: 29px auto;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 101px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 77px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 58px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 37px;
  }
} .u-section-5 {
  background-image: url("images/wallpaperbetter.com_1280x10242.jpg");
  background-position: 50% 50%;
}

.u-section-5 .u-sheet-1 {
  min-height: 1006px;
}

.u-section-5 .u-shape-1 {
  width: 938px;
  height: 910px;
  margin: 15px auto 0;
}

.u-section-5 .u-list-1 {
  width: 330px;
  margin: -802px auto 0;
}

.u-section-5 .u-repeater-1 {
  grid-gap: 0px 0px;
}

.u-section-5 .u-shape-2 {
  width: 259px;
  height: 257px;
  margin: 72px auto 0 324px;
}

.u-section-5 .u-shape-3 {
  width: 259px;
  height: 257px;
  margin: 16px 281px 0 auto;
}

.u-section-5 .u-shape-4 {
  width: 259px;
  height: 257px;
  margin: -531px 281px 0 auto;
}

.u-section-5 .u-shape-5 {
  width: 259px;
  height: 257px;
  margin: 16px auto 0 324px;
}

.u-section-5 .u-slider-1 {
  min-height: 375px;
  width: 441px;
  height: auto;
  margin: -452px 309px 60px auto;
}

.u-section-5 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-5 .u-image-1 {
  background-image: url("images/wallpaperbetter.com_1280x1024.jpg");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 50px;
}

.u-section-5 .u-image-2 {
  width: 314px;
  height: 286px;
  margin: 0 auto 0 24px;
}

.u-section-5 .u-image-3 {
  background-image: url("images/depositphotos_56582471-stock-photo-trucks-loading-unloading-at-warehouse.jpg");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-2 {
  padding: 24px 0;
}

.u-section-5 .u-image-4 {
  height: 326px;
  width: 398px;
  margin: 0 auto;
}

.u-section-5 .u-icon-1 {
  width: 128px;
  height: 128px;
  background-image: none;
  color: rgb(0, 0, 0) !important;
  margin: -302px 66px 0 auto;
  padding: 0;
}

.u-section-5 .u-shape-6 {
  width: 245px;
  height: 143px;
  background-image: linear-gradient(white, #28d2d9);
  margin: 15px auto 0 74px;
}

.u-section-5 .u-shape-7 {
  width: 217px;
  height: 116px;
  margin: -130px auto 0 88px;
}

.u-section-5 .u-text-1 {
  font-size: 1.5rem;
  margin: -116px auto 0 87px;
}

.u-section-5 .u-image-5 {
  height: 326px;
  width: 398px;
  margin: 34px auto -325px 15px;
}

.u-section-5 .u-carousel-item-3 {
  margin-left: 15px;
  margin-right: auto;
  margin-top: 20px;
}

.u-section-5 .u-container-layout-3 {
  padding: 0;
}

.u-section-5 .u-image-6 {
  width: 446px;
  height: 362px;
  margin: -7px -9px 0;
}

.u-section-5 .u-image-7 {
  width: 394px;
  height: 314px;
  margin: -338px auto 0 17px;
}

.u-section-5 .u-text-2 {
  font-size: 2.25rem;
  margin: -283px auto 0 49px;
}

.u-section-5 .u-icon-2 {
  width: 100px;
  height: 100px;
  margin: 24px auto 0 65px;
  padding: 0;
}

.u-section-5 .u-icon-3 {
  width: 81px;
  height: 81px;
  margin: -1px auto 0;
  padding: 0;
}

.u-section-5 .u-image-8 {
  margin-left: 15px;
  margin-right: 0;
  margin-top: 20px;
  background-image: url("images/traslado-de-autos-de-agencia-001-e1527362853498.jpg");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-4 {
  padding: 0;
}

.u-section-5 .u-image-9 {
  width: 386px;
  height: 321px;
  margin: 17px auto 0 17px;
}

.u-section-5 .u-btn-1 {
  background-image: none;
  border-style: none;
  margin: -195px auto 0 58px;
  padding: 0;
}

.u-section-5 .u-icon-4 {
  font-size: 2.75em;
}

.u-section-5 .u-text-3 {
  font-weight: 400;
  font-size: 1.5rem;
  margin: -49px auto 0 107px;
}

.u-section-5 .u-icon-5 {
  width: 88px;
  height: 88px;
  margin: -163px auto 0 166px;
  padding: 0;
}

.u-section-5 .u-btn-2 {
  background-image: none;
  border-style: none;
  margin: 114px auto 0 58px;
  padding: 0;
}

.u-section-5 .u-icon-6 {
  font-size: 2.8126em;
}

.u-section-5 .u-text-4 {
  font-weight: 400;
  font-size: 1.25rem;
  margin: -40px 96px 0 auto;
}

.u-section-5 .u-carousel-item-5 {
  margin-left: 0;
  margin-right: auto;
  margin-top: 20px;
}

.u-section-5 .u-container-layout-5 {
  padding: 0;
}

.u-section-5 .u-image-10 {
  width: 471px;
  height: 375px;
  margin: -20px -15px 0;
}

.u-section-5 .u-image-11 {
  width: 410px;
  height: 328px;
  margin: -355px auto 0;
}

.u-section-5 .u-icon-7 {
  width: 109px;
  height: 109px;
  margin: -283px auto 0;
  padding: 0;
}

.u-section-5 .u-text-5 {
  font-weight: 400;
  font-size: 1.125rem;
  width: 352px;
  margin: 45px auto 0;
}

.u-section-5 .u-btn-3 {
  border-style: none;
  font-weight: 700;
  letter-spacing: 1px;
  background-image: linear-gradient(white, #28d2d9);
  padding: 10px 0;
}

.u-section-5 .u-carousel-control-1 {
  width: 50px;
  height: 50px;
  background-image: linear-gradient(#4d4d4d, #28d2d9);
  left: 32px;
  right: auto;
  position: absolute;
  padding: 11px;
}

.u-section-5 .u-carousel-control-2 {
  width: 50px;
  height: 50px;
  background-image: linear-gradient(#4d4d4d, #28d2d9);
  left: auto;
  position: absolute;
  right: 10px;
  padding: 11px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 830px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: repeat(undefined, NaN%);
  }

  .u-section-5 .u-slider-1 {
    margin-top: -441px;
    margin-right: 224px;
  }

  .u-section-5 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-5 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-5 .u-image-10 {
    height: 374px;
  }

  .u-section-5 .u-image-11 {
    margin-top: -354px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 707px;
  }

  .u-section-5 .u-shape-1 {
    width: 720px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-5 .u-slider-1 {
    margin-top: -453px;
    margin-right: 116px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-carousel-control-1 {
    left: 11px;
  }

  .u-section-5 .u-carousel-control-2 {
    right: 24px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-shape-1 {
    width: 540px;
  }

  .u-section-5 .u-shape-2 {
    margin-left: 281px;
  }

  .u-section-5 .u-shape-5 {
    margin-left: 281px;
  }

  .u-section-5 .u-slider-1 {
    margin-right: auto;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-2 {
    margin-left: auto;
  }

  .u-section-5 .u-carousel-control-1 {
    left: 22px;
  }

  .u-section-5 .u-carousel-control-2 {
    right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 592px;
  }

  .u-section-5 .u-shape-1 {
    width: 340px;
  }

  .u-section-5 .u-shape-2 {
    margin-left: 81px;
  }

  .u-section-5 .u-shape-3 {
    margin-right: 81px;
  }

  .u-section-5 .u-shape-4 {
    margin-right: 81px;
  }

  .u-section-5 .u-shape-5 {
    margin-left: 81px;
  }

  .u-section-5 .u-slider-1 {
    min-height: 260px;
    margin-top: -461px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-image-4 {
    height: 278px;
    width: 340px;
  }

  .u-section-5 .u-icon-1 {
    margin-top: -254px;
  }

  .u-section-5 .u-image-5 {
    height: 278px;
    width: 340px;
    margin-left: 0;
  }

  .u-section-5 .u-image-6 {
    width: 325px;
    height: 264px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-image-7 {
    width: 325px;
    height: 259px;
    margin-top: -240px;
    margin-left: 0;
  }

  .u-section-5 .u-text-2 {
    margin-top: -228px;
  }

  .u-section-5 .u-image-9 {
    width: 325px;
    height: 270px;
    margin-left: 0;
  }

  .u-section-5 .u-btn-1 {
    margin-top: -144px;
  }

  .u-section-5 .u-icon-5 {
    margin-left: 103px;
  }

  .u-section-5 .u-image-10 {
    width: 340px;
    height: 270px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-image-11 {
    width: 340px;
    height: 272px;
    margin-top: -250px;
  }

  .u-section-5 .u-icon-7 {
    margin-top: -227px;
  }

  .u-section-5 .u-text-5 {
    width: 340px;
  }

  .u-section-5 .u-carousel-control-1 {
    left: 0;
  }

  .u-section-5 .u-carousel-control-2 {
    right: -9px;
  }
} .u-section-6 {
  background-image: linear-gradient(#28d2d9, white);
}

.u-section-6 .u-sheet-1 {
  min-height: 45px;
} .u-section-7 {
  background-image: url("images/wallpaperbetter.com_1280x1024.jpg");
  background-position: 50% 50%;
}

.u-section-7 .u-sheet-1 {
  min-height: 796px;
}

.u-section-7 .u-shape-1 {
  width: 228px;
  height: 228px;
  margin: 3px 364px 0 auto;
}

.u-section-7 .u-shape-2 {
  width: 228px;
  height: 228px;
  margin: -220px 413px 0 auto;
}

.u-section-7 .u-text-1 {
  font-size: 6rem;
  font-style: normal;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-scale: 1;
  --animation-custom_in-translate_y: 0px;
  margin: -175px 388px 0 auto;
}

.u-section-7 .u-shape-3 {
  width: 465px;
  height: 177px;
  background-image: none;
  margin: 79px auto 0 175px;
}

.u-section-7 .u-text-2 {
  letter-spacing: 2px;
  line-height: 2;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-size: 1rem;
  margin: -168px 172px 0 187px;
}

.u-section-7 .u-shape-4 {
  width: 299px;
  height: 231px;
  margin: 57px auto 0 383px;
}

.u-section-7 .u-text-3 {
  font-weight: 400;
  font-size: 1.25rem;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -200px auto 60px 399px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 688px;
  }

  .u-section-7 .u-shape-1 {
    margin-top: 4px;
  }

  .u-section-7 .u-shape-2 {
    margin-top: -237px;
    margin-right: 312px;
  }

  .u-section-7 .u-text-1 {
    margin-top: -189px;
    margin-right: 320px;
  }

  .u-section-7 .u-shape-3 {
    margin-top: 110px;
  }

  .u-section-7 .u-text-2 {
    width: 781px;
    margin-right: 0;
    margin-left: 214px;
  }

  .u-section-7 .u-shape-4 {
    margin-top: 20px;
  }

  .u-section-7 .u-text-3 {
    width: auto;
    margin-right: 273px;
    margin-bottom: 52px;
    margin-left: auto;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 641px;
  }

  .u-section-7 .u-shape-1 {
    margin-top: 18px;
    margin-right: auto;
    margin-left: 80px;
  }

  .u-section-7 .u-shape-2 {
    margin-top: -257px;
    margin-right: auto;
    margin-left: 147px;
  }

  .u-section-7 .u-text-1 {
    width: auto;
    margin-top: -149px;
    margin-right: auto;
    margin-left: 100px;
  }

  .u-section-7 .u-shape-3 {
    margin-top: 28px;
  }

  .u-section-7 .u-text-2 {
    width: 720px;
  }

  .u-section-7 .u-text-3 {
    margin-right: 45px;
    margin-bottom: 51px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 725px;
  }

  .u-section-7 .u-shape-1 {
    margin-top: 4px;
  }

  .u-section-7 .u-shape-2 {
    margin-top: -237px;
  }

  .u-section-7 .u-text-1 {
    margin-top: -157px;
    margin-left: 111px;
  }

  .u-section-7 .u-shape-3 {
    margin-top: 116px;
    margin-left: 75px;
  }

  .u-section-7 .u-text-2 {
    width: 540px;
    margin-left: 161px;
  }

  .u-section-7 .u-shape-4 {
    margin-left: 241px;
  }

  .u-section-7 .u-text-3 {
    margin-right: 16px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 647px;
  }

  .u-section-7 .u-shape-1 {
    margin-top: 16px;
    margin-left: auto;
  }

  .u-section-7 .u-shape-2 {
    margin-top: -244px;
    margin-right: -13px;
    margin-left: auto;
  }

  .u-section-7 .u-text-1 {
    font-size: 3.75rem;
    margin-top: -156px;
  }

  .u-section-7 .u-shape-3 {
    height: 141px;
    margin-top: 121px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-text-2 {
    width: auto;
    font-size: 0.875rem;
    margin-top: -132px;
    margin-left: 0;
  }

  .u-section-7 .u-shape-4 {
    height: 191px;
    margin-top: 61px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-7 .u-text-3 {
    margin-top: -179px;
    margin-bottom: 27px;
  }
} .u-section-8 {
  background-image: linear-gradient(white, #28d2d9);
}

.u-section-8 .u-sheet-1 {
  min-height: 33px;
} .u-section-9 {
  background-image: linear-gradient(#28d2d9, white);
}

.u-section-9 .u-sheet-1 {
  min-height: 1154px;
}

.u-section-9 .u-layout-wrap-1 {
  margin: 60px auto 60px 0;
}

.u-section-9 .u-layout-cell-1 {
  min-height: 676px;
}

.u-section-9 .u-container-layout-1 {
  padding: 0;
}

.u-section-9 .u-shape-1 {
  width: 360px;
  height: 360px;
  background-image: none;
  margin: 49px 0 0 auto;
}

.u-section-9 .u-image-1 {
  width: 351px;
  height: 351px;
  background-image: url("images/228bb1c2-776d-404c-81f3-5470fc035dd8.jpg");
  background-position: 100% 50%;
  margin: -378px auto 0;
}

.u-section-9 .u-layout-cell-2 {
  min-height: 388px;
}

.u-section-9 .u-container-layout-2 {
  padding: 30px;
}

.u-section-9 .u-text-1 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 35px 0 0;
}

.u-section-9 .u-layout-cell-3 {
  min-height: 285px;
}

.u-section-9 .u-container-layout-3 {
  padding: 30px 165px 30px 30px;
}

.u-section-9 .u-text-2 {
  font-size: 3.75rem;
  margin: 0;
}

.u-section-9 .u-layout-cell-4 {
  min-height: 777px;
}

.u-section-9 .u-container-layout-4 {
  padding: 15px 30px;
}

.u-section-9 .u-image-2 {
  width: 473px;
  height: 473px;
  background-image: url("images/a65d6d1c-8ca7-4af6-a5c7-6d4141d2ed7d.jpg");
  background-position: 50% 50%;
  margin: 0 auto 0 0;
}

.u-section-9 .u-shape-2 {
  width: 114px;
  height: 114px;
  margin: -123px 135px 0 auto;
}

.u-section-9 .u-image-3 {
  width: 111px;
  height: 101px;
  margin: -107px 142px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-9 .u-sheet-1 {
    min-height: 967px;
  }

  .u-section-9 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 557px;
  }

  .u-section-9 .u-image-1 {
    background-position: 50% 50%;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 411px;
  }

  .u-section-9 .u-layout-cell-3 {
    min-height: 260px;
  }

  .u-section-9 .u-container-layout-3 {
    padding-right: 80px;
  }

  .u-section-9 .u-layout-cell-4 {
    background-position: 50% 50%;
    min-height: 641px;
  }

  .u-section-9 .u-image-3 {
    width: 101px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-sheet-1 {
    min-height: 981px;
  }

  .u-section-9 .u-layout-wrap-1 {
    margin-top: -197px;
    margin-bottom: 35px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 497px;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 113px;
  }

  .u-section-9 .u-container-layout-2 {
    padding: 0 9px;
  }

  .u-section-9 .u-text-1 {
    width: auto;
    margin: 113px 21px -78px;
  }

  .u-section-9 .u-layout-cell-3 {
    min-height: 154px;
  }

  .u-section-9 .u-container-layout-3 {
    padding: 0;
  }

  .u-section-9 .u-text-2 {
    width: auto;
    margin-top: -207px;
    margin-right: 85px;
    margin-left: -25px;
  }

  .u-section-9 .u-layout-cell-4 {
    min-height: 409px;
  }

  .u-section-9 .u-container-layout-4 {
    padding: 0;
  }

  .u-section-9 .u-image-2 {
    width: 333px;
    height: 333px;
    margin-top: 23px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-9 .u-shape-2 {
    margin-top: -303px;
    margin-right: auto;
    margin-left: 73px;
  }

  .u-section-9 .u-image-3 {
    margin-top: -89px;
    margin-right: auto;
    margin-left: 69px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 954px;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 373px;
  }

  .u-section-9 .u-shape-1 {
    width: 270px;
    height: 270px;
  }

  .u-section-9 .u-image-1 {
    margin-top: -288px;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 269px;
  }

  .u-section-9 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-9 .u-text-1 {
    margin: 208px 0 -65px 17px;
  }

  .u-section-9 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-9 .u-text-2 {
    margin-top: -299px;
    margin-right: -8px;
    margin-left: 9px;
  }

  .u-section-9 .u-layout-cell-4 {
    min-height: 307px;
  }

  .u-section-9 .u-shape-2 {
    margin-top: -371px;
    margin-left: 93px;
  }

  .u-section-9 .u-image-3 {
    margin-top: -90px;
    margin-left: 83px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 1043px;
  }

  .u-section-9 .u-layout-wrap-1 {
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 235px;
  }

  .u-section-9 .u-shape-1 {
    width: 170px;
    height: 170px;
  }

  .u-section-9 .u-image-1 {
    width: 340px;
    height: 340px;
    margin-top: -188px;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 328px;
  }

  .u-section-9 .u-text-1 {
    margin-top: 247px;
    margin-left: 0;
    margin-bottom: -93px;
  }

  .u-section-9 .u-text-2 {
    font-size: 2.25rem;
    margin-top: -208px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-9 .u-layout-cell-4 {
    min-height: 193px;
  }

  .u-section-9 .u-image-2 {
    margin-top: 76px;
    margin-right: auto;
  }

  .u-section-9 .u-shape-2 {
    margin-top: -468px;
    margin-right: 79px;
    margin-left: auto;
  }

  .u-section-9 .u-image-3 {
    margin-top: -101px;
    margin-right: 98px;
    margin-left: auto;
  }
}.u-section-10 .u-sheet-1 {
  min-height: 82px;
}

.u-section-10 .u-text-1 {
  font-weight: 700;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 15px 339px 15px 382px;
}

@media (max-width: 1199px) {
  .u-section-10 .u-text-1 {
    margin-right: 239px;
    margin-left: 282px;
  }
}

@media (max-width: 991px) {
  .u-section-10 .u-text-1 {
    margin-right: 129px;
    margin-left: 172px;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-text-1 {
    margin-right: 39px;
    margin-left: 82px;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-sheet-1 {
    min-height: 81px;
  }

  .u-section-10 .u-text-1 {
    width: auto;
    margin: 21px 0;
  }
} .u-section-11 {
  background-image: linear-gradient(white, #28d2d9);
}

.u-section-11 .u-sheet-1 {
  min-height: 1026px;
}

.u-section-11 .u-layout-wrap-1 {
  margin: 40px 0 40px auto;
}

.u-section-11 .u-layout-cell-1 {
  min-height: 979px;
}

.u-section-11 .u-container-layout-1 {
  padding: 25px 27px;
}

.u-section-11 .u-shape-1 {
  height: 818px;
  margin: 15px 0 0;
}

.u-section-11 .u-text-1 {
  font-weight: 700;
  font-size: 3.75rem;
  margin: -818px 15px 0;
}

.u-section-11 .u-text-2 {
  font-weight: 400;
  font-size: 2.25rem;
  margin: 60px 15px 0;
}

.u-section-11 .u-icon-1 {
  width: 147px;
  height: 147px;
  margin: 0 auto 0 28px;
  padding: 0;
}

.u-section-11 .u-icon-2 {
  width: 119px;
  height: 119px;
  margin: -105px 68px 0 auto;
  padding: 0;
}

.u-section-11 .u-icon-3 {
  width: 125px;
  height: 125px;
  margin: 18px auto 0;
  padding: 0;
}

.u-section-11 .u-layout-cell-2 {
  min-height: 946px;
}

.u-section-11 .u-container-layout-2 {
  padding-top: 30px;
  padding-bottom: 0;
}

.u-section-11 .u-shape-2 {
  width: 246px;
  height: 246px;
  margin: 9px auto 0 0;
}

.u-section-11 .u-image-1 {
  width: 510px;
  height: 510px;
  background-image: url("images/zelle-fiserv-banks-digital-payments.jpg");
  background-position: 50% 50%;
  margin: -128px 0 0 auto;
}

.u-section-11 .u-image-2 {
  width: 279px;
  height: 279px;
  box-shadow: 5px 5px 18px 1px rgba(0,0,0,0.4);
  background-image: url("images/unnamed.png");
  background-position: 50% 50%;
  margin: -139px auto 0 0;
}

.u-section-11 .u-shape-3 {
  width: 114px;
  height: 114px;
  margin: -58px 134px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-11 .u-sheet-1 {
    min-height: 945px;
  }

  .u-section-11 .u-layout-wrap-1 {
    margin-bottom: -16px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-11 .u-layout-cell-1 {
    min-height: 978px;
  }

  .u-section-11 .u-container-layout-1 {
    padding-right: 55px;
  }

  .u-section-11 .u-shape-1 {
    margin-top: 147px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-11 .u-text-1 {
    margin-top: -950px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-11 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-11 .u-layout-cell-2 {
    min-height: 865px;
  }

  .u-section-11 .u-image-1 {
    width: 470px;
    height: 470px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-11 .u-image-2 {
    margin-top: -137px;
  }

  .u-section-11 .u-shape-3 {
    margin-top: -27px;
    margin-right: 77px;
  }
}

@media (max-width: 991px) {
  .u-section-11 .u-sheet-1 {
    min-height: 891px;
  }

  .u-section-11 .u-layout-wrap-1 {
    margin-bottom: 40px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-11 .u-layout-cell-1 {
    min-height: 1036px;
  }

  .u-section-11 .u-container-layout-1 {
    padding-left: 18px;
    padding-right: 18px;
  }

  .u-section-11 .u-shape-1 {
    margin-top: 91px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-11 .u-text-1 {
    font-size: 3rem;
    width: auto;
    margin-top: -834px;
    margin-left: 18px;
  }

  .u-section-11 .u-text-2 {
    margin-top: 0;
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-11 .u-icon-1 {
    width: 105px;
    height: 105px;
    margin-top: 25px;
    margin-left: 18px;
  }

  .u-section-11 .u-icon-2 {
    margin-top: 9px;
    margin-right: 56px;
  }

  .u-section-11 .u-icon-3 {
    width: 105px;
    height: 105px;
    margin-top: -6px;
    margin-left: 25px;
  }

  .u-section-11 .u-layout-cell-2 {
    min-height: 811px;
  }

  .u-section-11 .u-image-1 {
    width: 360px;
    height: 360px;
  }

  .u-section-11 .u-image-2 {
    width: 246px;
    height: 246px;
    margin-top: -74px;
  }

  .u-section-11 .u-shape-3 {
    margin-top: -6px;
    margin-right: 40px;
  }
}

@media (max-width: 767px) {
  .u-section-11 .u-sheet-1 {
    min-height: 1035px;
  }

  .u-section-11 .u-layout-cell-1 {
    min-height: 871px;
  }

  .u-section-11 .u-container-layout-1 {
    padding: 0 10px;
  }

  .u-section-11 .u-shape-1 {
    margin-top: 65px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-11 .u-text-1 {
    font-size: 3.75rem;
    margin-top: -818px;
  }

  .u-section-11 .u-icon-1 {
    margin-top: 38px;
    margin-left: 114px;
  }

  .u-section-11 .u-icon-2 {
    margin-top: -9px;
    margin-right: 121px;
  }

  .u-section-11 .u-icon-3 {
    margin-top: 11px;
    margin-left: 74px;
  }

  .u-section-11 .u-layout-cell-2 {
    min-height: 745px;
  }

  .u-section-11 .u-image-1 {
    width: 464px;
    height: 464px;
    margin-top: -170px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-11 .u-image-2 {
    width: 272px;
    height: 272px;
    margin-top: -162px;
  }

  .u-section-11 .u-shape-3 {
    margin-top: -66px;
    margin-right: 114px;
  }
}

@media (max-width: 575px) {
  .u-section-11 .u-sheet-1 {
    min-height: 991px;
  }

  .u-section-11 .u-layout-cell-1 {
    min-height: 870px;
  }

  .u-section-11 .u-container-layout-1 {
    padding-top: 25px;
  }

  .u-section-11 .u-shape-1 {
    margin-top: 39px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-11 .u-text-1 {
    font-size: 3rem;
    margin-top: -842px;
    margin-left: 0;
  }

  .u-section-11 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-11 .u-icon-1 {
    margin-left: 70px;
  }

  .u-section-11 .u-icon-2 {
    margin-right: 75px;
  }

  .u-section-11 .u-layout-cell-2 {
    min-height: 712px;
  }

  .u-section-11 .u-shape-2 {
    width: 201px;
    height: 201px;
  }

  .u-section-11 .u-image-1 {
    width: 340px;
    height: 340px;
    margin-top: -125px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-11 .u-image-2 {
    width: 212px;
    height: 212px;
    margin-top: -76px;
    margin-left: 10px;
  }

  .u-section-11 .u-shape-3 {
    margin-top: -20px;
    margin-right: 40px;
  }
} .u-section-12 {
  background-image: none;
}

.u-section-12 .u-sheet-1 {
  min-height: 84px;
}

.u-section-12 .u-text-1 {
  font-weight: 700;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-scale: 1;
  --animation-custom_in-translate_y: 0px;
  margin: 16px 0 16px 143px;
}

@media (max-width: 1199px) {
  .u-section-12 .u-text-1 {
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    margin-left: 0;
  }
} .u-section-13 {
  background-image: linear-gradient(#28d2d9, black);
}

.u-section-13 .u-sheet-1 {
  min-height: 742px;
}

.u-section-13 .u-shape-1 {
  width: 626px;
  height: 626px;
  margin: 58px auto 0;
}

.u-section-13 .u-layout-wrap-1 {
  margin-top: -533px;
  margin-bottom: 151px;
}

.u-section-13 .u-image-1 {
  min-height: 440px;
  background-image: url("images/traslado-de-autos-de-agencia-001-e1527362853498.jpg");
  background-position: 50% 50%;
}

.u-section-13 .u-container-layout-1 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 0;
}

.u-section-13 .u-image-2 {
  width: 443px;
  height: 403px;
  margin: 0 auto;
}

.u-section-13 .u-layout-cell-2 {
  min-height: 440px;
  background-image: none;
}

.u-section-13 .u-container-layout-2 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 30px;
}

.u-section-13 .u-text-1 {
  font-size: 7.5rem;
  margin: 0 0 0 auto;
}

.u-section-13 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-13 .u-line-1 {
  height: 6px;
  transform-origin: left center;
  width: 230px;
  margin: 30px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-13 .u-sheet-1 {
    min-height: 666px;
  }

  .u-section-13 .u-image-1 {
    min-height: 363px;
  }

  .u-section-13 .u-layout-cell-2 {
    min-height: 363px;
  }
}

@media (max-width: 991px) {
  .u-section-13 .u-sheet-1 {
    min-height: 408px;
  }

  .u-section-13 .u-image-1 {
    min-height: 278px;
  }

  .u-section-13 .u-image-2 {
    width: 360px;
    height: 327px;
  }

  .u-section-13 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-13 .u-text-1 {
    font-size: 4.5rem;
    margin-top: 67px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-13 .u-sheet-1 {
    min-height: 422px;
  }

  .u-section-13 .u-shape-1 {
    width: 540px;
    height: 540px;
  }

  .u-section-13 .u-layout-wrap-1 {
    margin-top: -447px;
  }

  .u-section-13 .u-image-1 {
    min-height: 417px;
    order: 1;
  }

  .u-section-13 .u-layout-cell-2 {
    order: 0;
  }

  .u-section-13 .u-container-layout-2 {
    padding-right: 180px;
    padding-left: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-13 .u-sheet-1 {
    min-height: 222px;
  }

  .u-section-13 .u-shape-1 {
    width: 340px;
    height: 340px;
  }

  .u-section-13 .u-layout-wrap-1 {
    margin-top: -247px;
  }

  .u-section-13 .u-image-1 {
    min-height: 263px;
  }

  .u-section-13 .u-image-2 {
    width: 340px;
    height: 309px;
  }

  .u-section-13 .u-container-layout-2 {
    padding-right: 25px;
  }
}